<html>

<body>
<header> Showing <%= item %> </header>

<p><a href="/items/<%= id %>/edit">edit</a></p>
<form action="/items/<%= id %>" method="POST">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" value="delete"/>
</form>



</body>
</html>